@import "tailwindcss";

@theme {
    --color-primary-500: #3A3737;
    --color-primary-600: #4F4F4F;
    --color-secondary-300: #F4F4F4;
    --color-secondary-400: #EAEAEA;
    --color-secondary-500: #BBBBBB;
    --color-secondary-600: #707070;
}

html,

body {
    margin: 0;
    width: 100%;
    height: 100%;
    /*font-family: Helvetica, Tahoma, Arial, STXihei, "PingFang SC", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
    font-family: Helvetica, Tahoma, Arial, "PingFang", sans-serif;
    font-weight: 500;
    background-color: #FCFCFC;
    @apply text-primary-500
}


