---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Home/Nav.astro';
import HeroSection from "../components/Home/HeroSection.astro";
import PartnerSection from "../components/Home/PartnerSection.astro";
import FeatureSection from "../components/Home/FeatureSection.astro";
import WhyChooseUsSection from "../components/Home/WhyChooseUsSection.astro";
import FAQ_Section from "../components/Home/FAQ_Section.astro";
import CTA_Section from "../components/Home/CTA_Section.astro";

---

<Layout title="「半部电台」业余无线电社">
<div class="px-24 pt-4">
    <Nav />

    <HeroSection />

    <PartnerSection />

    <FeatureSection />

    <WhyChooseUsSection />

    <FAQ_Section />

    <CTA_Section />

    <footer class="flex justify-between mt-16 mb-4">
        <p class="justify-start text-sm font-light font-['PingFang']">© 2025 西安电子科技大学 「半部电台」业余无线电社. All Rights Reserved.</p>

        <p class="justify-end text-sm font-light font-['PingFang']">Design & Code: <a class="underline underline-offset-3 hover:text-black" target="_blank" href="https://github.com/BrackRat">波西</a></p>
    </footer>

</div>
</Layout>

