---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Home/Nav.astro';
import HeroSection from "../components/Home/HeroSection.astro";
import PartnerSection from "../components/Home/PartnerSection.astro";
import FeatureSection from "../components/Home/FeatureSection.astro";


---

<Layout title="「半部电台」业余无线电社">
<div class="px-24 pt-4">
    <Nav />

    <HeroSection />

    <PartnerSection />

    <FeatureSection />

    <div class="h-screen">
    <!-- 占位 -->
    </div>
</div>
</Layout>

