---
import CapsuleButton from "../CapsuleButton.astro";
import bg from "../../assets/images/clear_bg.png";

import QQ_Button from "./QQ_Button.astro";
---
<section class="section-hero">
    <!-- 左半区域 -->
    <div class="flex flex-col justify-center md:max-w-3xl">
        <p class="hidden md:block text-3xl md:text-6xl font-extrabold mb-5 -ml-8">「半部电台」业余无线电社</p>

        <p class="block md:hidden text-5xl md:text-6xl font-extrabold mb-5 -ml-4">「半部电台」</p>
        <p class="block md:hidden text-3xl md:text-6xl font-extrabold mb-5">业余无线电社</p>
        <div class="flex justify-space-between space-x-1 md:space-x-3 mb-5">
            <div class="tags">
                传承红色通信基因
            </div>
            <div class="tags">
                探索无线技术前沿
            </div>
            <div class="tags">
                凝聚西电创新力量
            </div>
        </div>
        <p class="text-secondary-500 font-light md:font-normal text-lg mb-16">得名于红军第一部电台，我们是“半部电台”精神的当代传人。社团致力于探索无线技术前沿，传承红色通信基因，在实践与创新中，让“永不消逝的电波”精神在新一代西电人手中发扬光大。</p>
        <div class="flex space-x-7 mb-6">
            <!--<CapsuleButton for="my_modal_7" target="">-->
            <!--    <div class="flex space-x-2">-->
            <!--        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>qq_fill</title><g id="qq_fill" fill='none'><path d='M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z'/><path fill='#FFFFFFFF' d='M12 2a6.285 6.285 0 0 0-6.276 5.937l-.146 2.63a28.04 28.04 0 0 0-.615 1.41c-1.24 3.073-1.728 5.773-1.088 6.032.335.135.913-.426 1.566-1.432a6.672 6.672 0 0 0 1.968 3.593c-1.027.35-1.91.828-1.91 1.33 0 .509 2.48.503 4.239.5h.001c.549-.002 1.01-.008 1.38-.057a6.742 6.742 0 0 0 1.76 0c.37.05.833.055 1.382.056 1.76.004 4.239.01 4.239-.499 0-.502-.883-.979-1.909-1.33a6.672 6.672 0 0 0 1.967-3.586c.65 1.002 1.227 1.56 1.56 1.425.64-.259.154-2.96-1.088-6.032a28.08 28.08 0 0 0-.607-1.395l-.147-2.645A6.285 6.285 0 0 0 12 2'/></g></svg>-->
            <!--        <p>QQ 招新群</p>-->
            <!--    </div>-->
            <!--</CapsuleButton>-->

            <QQ_Button />

            <CapsuleButton target="#">
                <div class="flex space-x-2">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>bill_2_fill</title><g id="bill_2_fill" fill='none' fill-rule='evenodd'><path d='M24 0v24H0V0zM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01z'/><path fill='#FFFFFFFF' d='M18 3a3 3 0 0 1 2.995 2.824L21 6v14a1 1 0 0 1-1.405.914l-.12-.062-2.725-1.678-2.726 1.678a1 1 0 0 1-.938.058l-.11-.058-2.726-1.678-2.726 1.678a1 1 0 0 1-1.517-.732L6 20v-6H4a1 1 0 0 1-.993-.883L3 13V5.5a2.5 2.5 0 0 1 2.336-2.495L5.5 3zm-3 9h-4a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2M5.5 5a.5.5 0 0 0-.5.5V12h1V5.5a.5.5 0 0 0-.5-.5M16 8h-5a1 1 0 0 0-.117 1.993L11 10h5a1 1 0 0 0 .117-1.993z'/></g></svg>
                    <p>招新问卷</p>
                </div>
            </CapsuleButton>
        </div>
        <div class="flex items-center-safe">
            <div class="flex -space-x-3">
                <div class="w-8 h-8 bg-zinc-100 rounded-full border border-neutral-300 overflow-hidden">
                    <img alt="member avatar" src="https://wiki.xduham.club/bi9aaz%E5%A4%B4%E5%83%8F.jpg"></img>
                </div>
                <div class="w-8 h-8 bg-zinc-100 rounded-full border border-neutral-300 overflow-hidden">
                    <img alt="avatar" src="https://wiki.xduham.club/bg0exn%E5%A4%B4%E5%83%8F.png" />
                </div>
                <div class="w-8 h-8 bg-zinc-100 rounded-full border border-neutral-300 overflow-hidden">
                    <img alt="avatar" src="https://static.brackrat.com/icon.jpg" />
                </div>
            </div>
            <p class="font-semibold text-base ml-4">
                50+ 活跃成员
            </p>
        </div>
    </div>

    <div class="hidden 2xl:block">
        <div class="h-[650px] aspect-auto rounded-3xl">
            <img class="w-full h-full object-cover rounded-3xl" src={bg.src} alt="背景图" />
        </div>
    </div>
</section>

<style>
@reference "../../styles/global.css";

.section-hero {
    @apply flex pt-28 text-primary-500 justify-between
}

.tags {
    @apply flex w-26 h-8 text-[0.7rem] md:text-base md:w-40 md:h-9 bg-secondary-300 text-secondary-600 items-center justify-center rounded-lg
}
</style>