---
import CapsuleButton from "../CapsuleButton.astro";
---
<div class="flex justify-between items-center-safe">
    <div class="w-16 h-16 bg-gray-600 text-white flex items-center justify-center">
        LOGO
    </div>

    <div class="flex space-x-10 font-semibold text-primary-500">
        <a class="hover:underline" href="#">社团特色</a>
        <a class="hover:underline" href="#">加入我们的理由</a>
        <a class="hover:underline" href="#">FAQs</a>
    </div>

    <div>
        <CapsuleButton>
            社团博客
        </CapsuleButton>
    </div>


</div>