---
import ShuGuang from "../../assets/partners/xidian_shuguang.png"
import CRAC from "../../assets/partners/CRAC.png"

const partners = [
    {
        name: "西安无线电通信学会",
        logo: CRAC,
        url: "http://www.crac.org.cn/"
    },
    {
        name: "西电曙光天文学会",
        logo: ShuGuang,
        url: "https://xidianastro.club/"
    }
]
---
<section class="mt-28 flex flex-col md:flex-row justify-center md:justify-between items-center">
    <div class="justify-start text-primary-500 text-lg pb-3 md:pb-0 md:text-3xl font-normal">
        权威指导与合作伙伴
    </div>

    <div class="flex space-x-4 md:space-x-8 text-secondary-500 font-normal">
        {partners.map((partner) => (
            <div class="partner">
                <img alt={partner.name + " logo"} class="partner-logo" src={partner.logo.src} />
                <p class="partner-text">{partner.name}</p>
            </div>
        ))}
    </div>
</section>

<style>
@reference "../../styles/global.css";

.partner{
    @apply flex flex-col justify-center items-center ;
}

.partner-text{
    @apply text-xs md:text-base text-center pt-1;
}

.partner-logo{
    @apply w-16 h-16 md:w-24 md:h-24 rounded-full;
}
</style>