---

---
<section class="mt-28 flex justify-between items-center">
    <div class="justify-start text-primary-500 text-3xl font-normal">
        权威指导与合作伙伴
    </div>

    <div class="flex space-x-8">
        <div class="flex flex-col justify-center items-center">
            <img alt="logo" class="w-24 h-24 mix-blend-luminosity rounded-full" src="https://placehold.co/100x100" />
            <p>西电曙光天文学会</p>
        </div>

        <div class="flex flex-col justify-center items-center">
            <img alt="logo" class="w-24 h-24 mix-blend-luminosity rounded-full" src="https://placehold.co/100x100" />
            <p>西安无线电通信学会</p>
        </div>

    </div>
</section>