---
import qrcode from "../../assets/images/qq_group_qrcode.png"

---

<label for="my_modal_7" class="capsule-button">
    <div class="flex space-x-2">
        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>qq_fill</title><g id="qq_fill" fill='none'><path d='M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z'/><path fill='#FFFFFFFF' d='M12 2a6.285 6.285 0 0 0-6.276 5.937l-.146 2.63a28.04 28.04 0 0 0-.615 1.41c-1.24 3.073-1.728 5.773-1.088 6.032.335.135.913-.426 1.566-1.432a6.672 6.672 0 0 0 1.968 3.593c-1.027.35-1.91.828-1.91 1.33 0 .509 2.48.503 4.239.5h.001c.549-.002 1.01-.008 1.38-.057a6.742 6.742 0 0 0 1.76 0c.37.05.833.055 1.382.056 1.76.004 4.239.01 4.239-.499 0-.502-.883-.979-1.909-1.33a6.672 6.672 0 0 0 1.967-3.586c.65 1.002 1.227 1.56 1.56 1.425.64-.259.154-2.96-1.088-6.032a28.08 28.08 0 0 0-.607-1.395l-.147-2.645A6.285 6.285 0 0 0 12 2'/></g></svg>
        <p>QQ 招新群</p>
    </div>
</label>

<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box w-60 flex flex-col justify-center items-center">
        <h3 class="text-lg font-bold">社团招新群</h3>
        <div class="flex space-x-2 items-center">
            <p class="font-light text-sm font-['PingFang']">群号：1054795643</p>
            <button id="copy_btn" class="btn btn-square size-7 p-1">
                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>copy_2_line</title><g id="copy_2_line" fill='none' fill-rule='evenodd'><path d='M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z'/><path fill='#3A3737FF' d='M9 2a2 2 0 0 0-2 2v2h2V4h11v11h-2v2h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM4 7a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zm0 2h11v11H4z'/></g></svg>
            </button>
        </div>

        <div class="divider py-0"></div>
        <img src={qrcode.src} alt="QR Code" class="w-48" />
    </div>
    <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>

<script>
const copyButton = document.getElementById('copy_btn');
if (!copyButton) {
    throw new Error('Copy OK text element not found');
}

copyButton.addEventListener('click', () => {
    const groupNumber = '1054795643';
    navigator.clipboard.writeText(groupNumber).then(() => {
        copyButton.classList.add('bg-blue-300');
        setTimeout(() => {
            copyButton.classList.remove('bg-blue-300');
        }, 500);
    }).catch(err => {
        console.error('无法复制到剪贴板: ', err);
    });
});
</script>