---
const { target } = Astro.props;
---
<a class="capsule-button" href={target}>
    <slot />
</a>

<style>
@reference "../styles/global.css";

.capsule-button {
    @apply flex justify-between bg-primary-500 text-white font-semibold py-4 px-6 rounded-full hover:bg-primary-600 transition duration-100 hover:cursor-pointer;
}
</style>