---

---
<footer class="flex justify-between mt-16 mb-4">
    <p class="justify-start text-sm font-light font-['PingFang']">© 2025 西安电子科技大学 「半部电台」业余无线电社. All Rights Reserved.</p>

    <p class="justify-end text-sm font-light font-['PingFang']">Design & Code: <a class="underline underline-offset-3 hover:text-black" target="_blank" href="https://github.com/BrackRat">波西</a></p>
</footer>