---

---
<footer class="w-full flex flex-col mt-16 pb-4 items-center text-center text-xs xl:text-sm">
    <div class="flex flex-col xl:flex-row justify-between w-full">
        <div class="flex flex-col xl:flex-row space-x-2">
            <p class="justify-start  font-light font-['PingFang']">© 2025 西安电子科技大学 「半部电台」业余无线电社. </p>
            <p class="justify-start  font-light font-['PingFang']">All Rights Reserved.</p>
        </div>
        <p class="justify-end font-light font-['PingFang'] pt-2 xl:pt-0">Design & Code: <a class="underline underline-offset-3 hover:text-black" target="_blank" href="https://github.com/BrackRat">波西</a></p>
    </div>
    <a class="mt-2 xl:mt-0 xl:self-start font-light hover:underline underline-offset-2 font-['PingFang']" href="https://beian.miit.gov.cn" target="_blank">陕ICP备2025076445号-1</a>
</footer>