---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import "../styles/global.css"
---
<Layout title={`「半部电台」 ${frontmatter.title}`}>
    <div class="px-24 pt-4">
        <slot />
    </div>

</Layout>